@import 'react-image-crop/dist/ReactCrop.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --visio-cms-background: var(--visio-cms-brand-dark-900);
    --visio-cms-foreground: 210 20% 98%;
    --visio-cms-card: var(--visio-cms-brand-dark-800);
    --visio-cms-card-foreground: 210 20% 98%;
    --visio-cms-popover: var(--visio-cms-brand-dark-800);
    --visio-cms-popover-foreground: 210 20% 98%;
    --visio-cms-primary: var(--visio-cms-brand-green);
    --visio-cms-primary-foreground: var(--visio-cms-brand-white);
    --visio-cms-secondary: 215 27.9% 16.9%;
    --visio-cms-secondary-foreground: 210 20% 98%;
    --visio-cms-muted: 215 27.9% 16.9%;
    --visio-cms-muted-foreground: 217.9 10.6% 64.9%;
    --visio-cms-accent: 215 27.9% 16.9%;
    --visio-cms-accent-foreground: 210 20% 98%;
    --visio-cms-destructive: 0, 91%, 71%, 1;
    --visio-cms-destructive-foreground: 210 20% 98%;
    --visio-cms-border: var(--visio-cms-brand-dark-900);
    --visio-cms-input: var(--visio-cms-brand-dark-900);
    --visio-cms-ring: 216 12.2% 83.9%;
    --visio-cms-chart-1: 220 70% 50%;
    --visio-cms-chart-2: 160 60% 45%;
    --visio-cms-chart-3: 30 80% 55%;
    --visio-cms-chart-4: 280 65% 60%;
    --visio-cms-chart-5: 340 75% 55%;
    --visio-cms-radius: 6px;

    --visio-cms-brand-dark-900: 60, 3%, 7%, 1;
    --visio-cms-brand-dark-800: 180, 1%, 15%, 1;
    --visio-cms-brand-dark-700: 300, 1%, 21%, 1;
    --visio-cms-brand-green: 179, 90%, 39%, 1;
    --visio-cms-brand-dark-green: 179, 74%, 36%, 1;
    --visio-cms-brand-white: 0, 100%, 100%, 1;
  }
}

@layer base {
  * {
    @apply visio-cms-border-border;
  }
  .visio-cms-dialog-close-btn {
    @apply visio-cms-hidden;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply visio-cms-bg-dark-900 visio-cms-rounded-md;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    @apply visio-cms-bg-dark-800 visio-cms-rounded-md;
  }

  .scrollbar-custom {
    scrollbar-color: hsl(var(-visio-cms-brand-dark-900)) hsl(var(-visio-cms-brand-dark-800));
  }

  .empty-drop-zone {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='38' ry='38' stroke='%23d3d3d3' stroke-width='2' stroke-dasharray='8' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 38px;
  }
}
.ProseMirror {
  outline: none;
}

.w-tc-editor {
  font-family: inherit;
  font-size: 12px;
}
.w-tc-editor-text,
.w-tc-editor-preview {
  min-height: 16px;
}
.w-tc-editor-preview pre {
  margin: 0;
  padding: 0;
  white-space: inherit;
  font-family: inherit;
  font-size: inherit;
}
.w-tc-editor-preview pre code {
  font-family: inherit;
}
.w-tc-editor code[class*='language-'] .token.cdata,
.w-tc-editor pre[class*='language-'] .token.cdata,
.w-tc-editor code[class*='language-'] .token.comment,
.w-tc-editor pre[class*='language-'] .token.comment,
.w-tc-editor code[class*='language-'] .token.doctype,
.w-tc-editor pre[class*='language-'] .token.doctype,
.w-tc-editor code[class*='language-'] .token.prolog,
.w-tc-editor pre[class*='language-'] .token.prolog {
  color: #90a4ae;
}
.w-tc-editor code[class*='language-'] .token.punctuation,
.w-tc-editor pre[class*='language-'] .token.punctuation {
  color: #9e9e9e;
}
.w-tc-editor code[class*='language-'] .namespace,
.w-tc-editor pre[class*='language-'] .namespace {
  opacity: 0.7;
}
.w-tc-editor code[class*='language-'] .token.boolean,
.w-tc-editor pre[class*='language-'] .token.boolean,
.w-tc-editor code[class*='language-'] .token.constant,
.w-tc-editor pre[class*='language-'] .token.constant,
.w-tc-editor code[class*='language-'] .token.deleted,
.w-tc-editor pre[class*='language-'] .token.deleted,
.w-tc-editor code[class*='language-'] .token.number,
.w-tc-editor pre[class*='language-'] .token.number,
.w-tc-editor code[class*='language-'] .token.symbol,
.w-tc-editor pre[class*='language-'] .token.symbol {
  color: #e91e63;
}
.w-tc-editor code[class*='language-'] .token.attr-name,
.w-tc-editor pre[class*='language-'] .token.attr-name,
.w-tc-editor code[class*='language-'] .token.builtin,
.w-tc-editor pre[class*='language-'] .token.builtin,
.w-tc-editor code[class*='language-'] .token.char,
.w-tc-editor pre[class*='language-'] .token.char,
.w-tc-editor code[class*='language-'] .token.inserted,
.w-tc-editor pre[class*='language-'] .token.inserted,
.w-tc-editor code[class*='language-'] .token.selector,
.w-tc-editor pre[class*='language-'] .token.selector,
.w-tc-editor code[class*='language-'] .token.string,
.w-tc-editor pre[class*='language-'] .token.string {
  color: #22863a;
}
.w-tc-editor code[class*='language-'] .style .token.string,
.w-tc-editor pre[class*='language-'] .style .token.string,
.w-tc-editor code[class*='language-'] .token.entity,
.w-tc-editor pre[class*='language-'] .token.entity,
.w-tc-editor code[class*='language-'] .token.operator,
.w-tc-editor pre[class*='language-'] .token.operator,
.w-tc-editor code[class*='language-'] .token.url,
.w-tc-editor pre[class*='language-'] .token.url {
  color: #795548;
}
.w-tc-editor code[class*='language-'] .token.atrule,
.w-tc-editor pre[class*='language-'] .token.atrule,
.w-tc-editor code[class*='language-'] .token.attr-value,
.w-tc-editor pre[class*='language-'] .token.attr-value,
.w-tc-editor code[class*='language-'] .token.attr-name,
.w-tc-editor pre[class*='language-'] .token.attr-name,
.w-tc-editor code[class*='language-'] .token.property,
.w-tc-editor pre[class*='language-'] .token.property,
.w-tc-editor code[class*='language-'] .token.keyword,
.w-tc-editor pre[class*='language-'] .token.keyword {
  color: #3f51b5;
}
.w-tc-editor code[class*='language-'] .token.function,
.w-tc-editor pre[class*='language-'] .token.function {
  color: #f44336;
}
.w-tc-editor code[class*='language-'] .token.important,
.w-tc-editor pre[class*='language-'] .token.important,
.w-tc-editor code[class*='language-'] .token.regex,
.w-tc-editor pre[class*='language-'] .token.regex,
.w-tc-editor code[class*='language-'] .token.variable,
.w-tc-editor pre[class*='language-'] .token.variable {
  color: #ff9800;
}
.w-tc-editor code[class*='language-'] .token.bold,
.w-tc-editor pre[class*='language-'] .token.bold,
.w-tc-editor code[class*='language-'] .token.important,
.w-tc-editor pre[class*='language-'] .token.important {
  color: #333;
}
.w-tc-editor code[class*='language-'] .token.tag,
.w-tc-editor pre[class*='language-'] .token.tag {
  color: #22863a;
}
.w-tc-editor code[class*='language-'] .attr-name,
.w-tc-editor pre[class*='language-'] .attr-name {
  color: #005cc5;
}
.w-tc-editor code[class*='language-'] .token.selector .class,
.w-tc-editor pre[class*='language-'] .token.selector .class,
.w-tc-editor code[class*='language-'] .token.class-name,
.w-tc-editor pre[class*='language-'] .token.class-name {
  color: #6f42c1;
}
