@import 'react-image-crop/dist/ReactCrop.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --visio-cms-background: var(--visio-cms-brand-dark-900);
    --visio-cms-foreground: 210 20% 98%;
    --visio-cms-card: var(--visio-cms-brand-dark-800);
    --visio-cms-card-foreground: 210 20% 98%;
    --visio-cms-popover: var(--visio-cms-brand-dark-800);
    --visio-cms-popover-foreground: 210 20% 98%;
    --visio-cms-primary: var(--visio-cms-brand-green);
    --visio-cms-primary-foreground: var(--visio-cms-brand-white);
    --visio-cms-secondary: 215 27.9% 16.9%;
    --visio-cms-secondary-foreground: 210 20% 98%;
    --visio-cms-muted: 215 27.9% 16.9%;
    --visio-cms-muted-foreground: 217.9 10.6% 64.9%;
    --visio-cms-accent: 215 27.9% 16.9%;
    --visio-cms-accent-foreground: 210 20% 98%;
    --visio-cms-destructive: 0, 91%, 71%, 1;
    --visio-cms-destructive-foreground: 210 20% 98%;
    --visio-cms-border: var(--visio-cms-brand-dark-900);
    --visio-cms-input: var(--visio-cms-brand-dark-900);
    --visio-cms-ring: 216 12.2% 83.9%;
    --visio-cms-chart-1: 220 70% 50%;
    --visio-cms-chart-2: 160 60% 45%;
    --visio-cms-chart-3: 30 80% 55%;
    --visio-cms-chart-4: 280 65% 60%;
    --visio-cms-chart-5: 340 75% 55%;
    --visio-cms-radius: 6px;

    --visio-cms-brand-dark-900: 60, 3%, 7%, 1;
    --visio-cms-brand-dark-800: 180, 1%, 15%, 1;
    --visio-cms-brand-dark-700: 300, 1%, 21%, 1;
    --visio-cms-brand-green: 179, 90%, 39%, 1;
    --visio-cms-brand-dark-green: 179, 74%, 36%, 1;
    --visio-cms-brand-white: 0, 100%, 100%, 1;
  }
}

@layer base {
  * {
    @apply visio-cms-border-border;
  }
  .visio-cms-dialog-close-btn {
    @apply visio-cms-hidden;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply visio-cms-bg-dark-900 visio-cms-rounded-md;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    @apply visio-cms-bg-dark-800 visio-cms-rounded-md;
  }

  .scrollbar-custom {
    scrollbar-color: hsl(var(-visio-cms-brand-dark-900)) hsl(var(-visio-cms-brand-dark-800));
  }

  .empty-drop-zone {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='38' ry='38' stroke='%23d3d3d3' stroke-width='2' stroke-dasharray='8' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 38px;
  }
}
.ProseMirror {
  outline: none;
}
